<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Basic</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <div class="container mt-5">
      <div>
        <h2>List Users</h2>
      </div>
      <!-- <form action="/create-user" method="post" class="mb-3">
        <div>
          <label for="" class="form-label">First Name</label>
          <input type="text" class="form-control" name="firstName" id="" />
        </div>
        <div>
          <label for="" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="" />
        </div>
        <div>
          <label for="" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="" />
        </div>
        <div>
          <label for="" class="form-label">Address</label>
          <input type="text" class="form-control" name="address" id="" />
        </div>
        <input type="submit" value="Submit" class="btn btn-primary mt-3" />
      </form> -->
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].id %></td>
              <td><%= data[i].firstName %></td>
              <td><%= data[i].lastName %></td>
              <td class="d-flex">
                <a href="/detail/user/<%= data[i].id %>">
                  <button type="button" class="btn btn-success">Detail</button>
                </a>
                <form action="/edit-user/<%= data[i].id %>" method="get">
                  <button type="submit" class="btn btn-warning mx-3">
                    Edit
                  </button>
                </form>
                <form action="/delete-user" method="post">
                  <input
                    type="text"
                    hidden
                    value="<%= data[i].id %>"
                    name="userId"
                  />
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
