<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container mt-5">
      <form action="/update-user" method="post" class="mb-3">
        <div>
          <label for="" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            value="<%= dataUser.firstName %>"
            id=""
          />
        </div>
        <div>
          <label for="" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            value="<%= dataUser.lastName %>"
            id=""
          />
        </div>
        <div>
          <label for="" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            value="<%= dataUser.email %>"
            id=""
          />
        </div>
        <div>
          <label for="" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            value="<%= dataUser.address %>"
            id=""
          />
        </div>
        <input type="text" hidden value="<%= dataUser.id %>" name="id" id="" />
        <input type="submit" value="Save" class="btn btn-primary mt-3" />
      </form>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
